    <form action="/results?id=<%= id %>" method="post" id="ratings-form">
        <div class="form-group">
            <% if (labels.length!=0) {%>
                <% for (var i=0; i<labels.length; i++) { %>
                    <% if (((rating/total).toFixed(2))>=(i+1)) {%>
                        <label for="radio-<%= i %>" class="radio-inline radio-inline-10"><input id="radio-<%= i %>" class="radio" type="radio" name="rating" value="<%= i+1 %>" aria-required="true" required><span class="lbl"><%= labels[i] %></span></label>
                    <% } else if (((rating/total).toFixed(2))>i && ((rating/total).toFixed(2))<(i+1)) { %>
                        <% if ((((String(((rating/total).toFixed(2)))).split('.'))[1]).charAt(0)=='0') {%>                 
                            <label for="radio-<%= i %>" class="radio-inline radio-inline-1"><input id="radio-<%= i %>" class="radio" type="radio" name="rating" value="<%= i+1 %>" aria-required="true" required><span class="lbl"><%= labels[i] %></span></label>
                        <% } else { %>
                            <label for="radio-<%= i %>" class="radio-inline radio-inline-<%= (((String(((rating/total).toFixed(2)))).split('.'))[1]).charAt(0) %>"><input id="radio-<%= i %>" class="radio" type="radio" name="rating" value="<%= i+1 %>" aria-required="true" required><span class="lbl"><%= labels[i] %></span></label>
                        <% } %>
                    <% } else { %>
                        <label for="radio-<%= i %>" class="radio-inline radio-inline-0"><input id="radio-<%= i %>" class="radio" type="radio" name="rating" value="<%= i+1 %>" aria-required="true" required><span class="lbl"><%= labels[i] %></span></label>
                    <% } %>
                <% } %>
            <% } %>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-default" id="ratings-form-submit" disabled />
        </div>
    </form>